# Content-Based Filtering

## Load data

In [1]:
import pandas as pd

# Load the CSV file into a DataFrame, and specify the delimiter used in the CSV file
# movies_df = pd.read_csv('./data/movies_small.csv', sep=';')  # This small version of data is for testing and trial

movies_df = pd.read_csv('./assets/data/movies.csv')

## Test loaded data

In [2]:
movies_df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

## Compare data

To implement content-based filtering, we focus on the movie "overview" field, which contains descriptions of each movie. Our aim is to compare these descriptions to suggest similar movies. For instance, if a user is currently viewing "Kung Fu Panda" on platforms like Amazon or Netflix, we want to recommend comparable movies. We achieve this by comparing the description of "Kung Fu Panda" with those of other movies. Those with the closest descriptions are then recommended. This involves comparing every description with every other, a task streamlined with the scikit-learn library.

In [3]:
# Importing the TfidfVectorizer class from scikit-learn's feature_extraction.text module. 
# This class is used for converting a collection of raw text documents into a matrix of TF-IDF features. 
# TF-IDF stands for Term Frequency-Inverse Document Frequency, which is a numerical statistic that 
# reflects the importance of a word in a document relative to a collection of documents (corpus). 
# This process helps in normalizing the frequency of words by considering their importance not only 
# in the current document but also across the entire corpus. 
# TfidfVectorizer is particularly useful in natural language processing tasks such as document 
# classification, clustering, and information retrieval, where we need to represent text data in 
# a numerical format understandable by machine learning algorithms. 
# By converting text data into TF-IDF vectors, it helps in reducing the dimensionality of the feature space,
# making it more manageable for machine learning algorithms and improving computational efficiency.
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
# Sample collection of documents (corpus)
# Extracting the "overview" column from movies_df DataFrame and converting it into a list.
# If there are any missing values (na means not available) in the "overview" column, they are filled with an empty string.
corpus = movies_df["overview"].fillna("").to_list()

In [5]:
# Initializing the TfidfVectorizer.
# The stop_words parameter is set to 'english', which means common English stopwords like 'a', 'the', 'in', etc., 
# will be ignored during vectorization.
tfidf_vectorizer = TfidfVectorizer(stop_words='english')

In [6]:
# Fitting the vectorizer to the corpus, which learns the vocabulary and IDF (Inverse Document Frequency) statistics 
# from the corpus, and transforming the corpus into TF-IDF features.
tfidf_matrix = tfidf_vectorizer.fit_transform(corpus)

In [7]:
# Converting the TF-IDF matrix (which is in sparse format) into a dense array representation using tfidf_matrix.toarray(), 
# and creating a DataFrame from it. 
# The column names are set to the feature names obtained from the TfidfVectorizer using tfidf_vectorizer.get_feature_names_out().
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

# Display the created df
tfidf_df

,00,000,007,07am,10,100,1000,101,108,10th,...,zuckerberg,zula,zuzu,zyklon,Ã¦on,Ã©loigne,Ã©migrÃ©,Ã©tÃ©,Ãºnica,Ã¼ber
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4800,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Similarity matrix

In [8]:
# Importing the linear_kernel function from sklearn's metrics.pairwise module. 
# This function computes the dot product of the TF-IDF matrix with itself, resulting in a similarity matrix.
from sklearn.metrics.pairwise import linear_kernel 

# Computing the similarity matrix by calculating the dot product of the TF-IDF matrix with itself using linear_kernel.
similarity_matrix = linear_kernel(tfidf_matrix, tfidf_matrix)

# Display this similarity_matrix
similarity_matrix

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.02160533, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.01488159, 0.        ,
        0.        ],
       ...,
       [0.        , 0.02160533, 0.01488159, ..., 1.        , 0.01609091,
        0.00701914],
       [0.        , 0.        , 0.        , ..., 0.01609091, 1.        ,
        0.01171696],
       [0.        , 0.        , 0.        , ..., 0.00701914, 0.01171696,
        1.        ]])

## Find the most similar movies to a certain movie

### Testing

In [9]:
# Define the movie title to search for
MOVIE_TITLE = "John Carter"

In [10]:
# Find the index of the movie with the specified title in the DataFrame
# First, locate the rows where the 'title' column matches the specified movie title
# Then, retrieve the index label of the first matching row using .index.to_list()[0]
movie_index = movies_df.loc[movies_df['title'] == MOVIE_TITLE].index.to_list()[0]

# Output the index of the movie with the specified title
movie_index

4

In [11]:
# Enumerate the similarity scores between the movie represented by movie_index and all other movies in the corpus
# similarity_matrix[movie_index] selects the row corresponding to the movie represented by movie_index
# enumerate() pairs each similarity score with its corresponding movie index
# Convert the enumerated similarity scores to a list
similarity_scores = list(enumerate(similarity_matrix[movie_index]))

# Output the similarity scores (first 10)
similarity_scores[:10]

[(0, 0.0),
 (1, 0.033368675996424305),
 (2, 0.0),
 (3, 0.010433403719159354),
 (4, 1.0),
 (5, 0.0),
 (6, 0.009339192776152496),
 (7, 0.037407042075763064),
 (8, 0.0),
 (9, 0.01714819056424443)]

In [12]:
# Sort the similarity scores in descending order based on the similarity score (x[1])
# The lambda function extracts the similarity score (x[1]) from each tuple in similarity_scores
# The sorted() function sorts the similarity_scores list based on the extracted similarity scores
# The reverse=True argument sorts the similarity scores in descending order
similarity_scores_sorted = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

# Output the similarity scores sorted in descending order
similarity_scores_sorted[:10]

[(4, 1.0),
 (1254, 0.20497253140891997),
 (4161, 0.16370347641323713),
 (2932, 0.12239400129620459),
 (3349, 0.11887151040572358),
 (1307, 0.11468689553107403),
 (3068, 0.11237609168095009),
 (345, 0.09079218287485015),
 (581, 0.0900594125581888),
 (2998, 0.08877535757173034)]

In [13]:
# Extract movie indices from similarity_scores_sorted, excluding the first element (the movie itself)
# For each tuple (tpl) in similarity_scores_sorted[1:], where tpl[1] represents the similarity score
# Include movie indices (tpl[0]) in the movie_indices list if the similarity score (tpl[1]) is greater than 0
# This ensures that only movies with a positive similarity to the target movie are included
movie_indices = [tpl[0] for tpl in similarity_scores_sorted[1:] if tpl[1] > 0]

# Output the list of movie indices
movie_indices[:10]

[1254, 4161, 2932, 3349, 1307, 3068, 345, 581, 2998, 4274]

In [14]:
# Retrieve movie titles corresponding to the indices in movie_indices
# Use iloc to select rows from the DataFrame based on the indices in movie_indices
# Then, select the 'title' column using ['title'] and convert it to a list using to_list()
movie_titles = movies_df.iloc[movie_indices]['title'].to_list()

# Output the list of movie titles
movie_titles[:20]

['Get Carter',
 'The Marine 4: Moving Target',
 'Raising Cain',
 'Desperado',
 'The Hurricane',
 'Rescue Dawn',
 'Rush Hour 2',
 'Star Trek: Insurrection',
 'Devil',
 'Eddie: The Sleepwalking Cannibal',
 'X-Men: Days of Future Past',
 'Ghosts of Mars',
 'Earth to Echo',
 'In the Land of Women',
 'Coach Carter',
 'Captain America: The Winter Soldier',
 'The Fifth Element',
 'The Ugly Truth',
 'The Fall of the Roman Empire',
 "The World's End"]

### Create a function that, when provided with a specific movie and the desired number of similar movies, returns a list of those similar movies.

In [15]:
def similar_movies(movie_title, nr_movies):
    """
    Retrieve a list of similar movies based on the provided movie title.

    Args:
        movie_title (str): The title of the movie for which similar movies are to be found.
        nr_movies (int): The maximum number of similar movies to return.

    Returns:
        list: A list of similar movie titles.

    """

    # Find the index of the provided movie title in the DataFrame
    movie_index = movies_df.loc[movies_df['title'] == movie_title].index.to_list()[0]
    # Retrieve similarity scores between the provided movie and all other movies
    similarity_scores = list(enumerate(similarity_matrix[movie_index]))
    # Sort the similarity scores in descending order
    similarity_scores_sorted = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    # Extract movie indices with positive similarity scores (excluding the provided movie itself)
    similar_movie_indices = [tpl[0] for tpl in similarity_scores_sorted[1:] if tpl[1] > 0]
    # Retrieve movie titles corresponding to the extracted indices
    similar_movie_titles = movies_df.iloc[similar_movie_indices]['title'].to_list()
    
    # If there are fewer similar movies than requested, return all similar movies
    if len(similar_movie_titles) < nr_movies:
        return similar_movie_titles
    # Otherwise, return only the specified number of similar movies
    return similar_movie_titles[:nr_movies]

### Test the function

In [16]:
similar_movies("John Carter", 2)

['Get Carter', 'The Marine 4: Moving Target']

In [17]:
similar_movies("John Carter", 5)

['Get Carter',
 'The Marine 4: Moving Target',
 'Raising Cain',
 'Desperado',
 'The Hurricane']

In [18]:
similar_movies("Kung Fu Panda 3", 4)

['Kung Fu Panda 2',
 'My Big Fat Greek Wedding 2',
 'Once Upon a Time in the West',
 'Kickboxer: Vengeance']

In [19]:
similar_movies("Guardians of the Galaxy", 7)

['Heavy Metal',
 'The Amazing Spider-Man 2',
 'Lovely, Still',
 'CJ7',
 'Forgetting Sarah Marshall',
 'Space Battleship Yamato',
 'The Face of an Angel']